{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Register</title>
</head>
<body>
    {% block content %}
    <h1 class="sapa">Tak Kenal Maka Tak Sayang, Yuk Isi!</h1>
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
             <table>
                {{ form.as_table }}
                 <tr>
                    <td></td>
                </tr>
             </table>
             <a href="{% url 'homepage:masuk' %}">
                <button class="btn btn-success" id="setuju">Daftarkan!</button>
            </a>
        </div>
    </div>
    {% if form.errors %}
    <h5 style="text-align: center;">Coba lagi :(</h5>
    {% endif %}
    {% endblock %}
</body>
</html>