{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Story 10</title>
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="sapa">
        <h1>Selamat Datang, {{ user.username }}!</h1>
        <h1>Kita Telah Berteman :D Berbahagialah!</h1>
    </div>
    <div class="sapa">
        <h6>Jikalau sibuk, silakan keluar~</h6>
    <a href="{% url 'homepage:keluar' %}">
        <button type="button" class="btn btn-dark" id="logout">Logout</button>
    </a>
    </div>

    {% else %}
    <h1 class="sapa">Selamat Datang, Calon Teman!</h1>
    <div class="sapa">
        <h3>Silakan daftar jika ingin berteman, hehe :D</h3>
        <a href="{% url 'homepage:daftar' %}">
            <button type="submit" class="btn btn-primary" id="daftar">Daftar!</button>
        </a>
    </div>
    <div class="sapa">
        <h3>Kita sudah berteman? Login saja :D</h3>
        <a href="{% url 'homepage:masuk' %}">
            <button type="submit" class="btn btn-success" id="login">Login!</button>
        </a>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>