{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Login</title>
</head>
<body>
    {% block content %}
    <h2 class="sapa">Login dulu ya :)</h2>
    <form action="" method="post" class="d-flex flex-column justify-content-center">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" autocomplete="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" autocomplete="password">
        </div>
        <h6>{{response}}</h6>
        <button type="submit" class="btn btn-success" id="login">Login!</button>
        <p>Kita belum berteman? <a href="{% url 'homepage:daftar' %}" id="daftar">Daftar</a> dulu ya</p>
    </form>

    {% endblock %}
</form>
</body>
</html>